:root {
    color-scheme: dark;
    --text-color: #383838;
    --placeholder-text-color: hsl(0, 0%, 50%);
    --background-color: #ffffff;
    --input-color: #e6e6e6;
    --control-color: #dadada;
    --control-hover-color: #b4b4b4;
    --border-color: #cccccc;
    --accent-color: #e94c4c;
    --focus-color: var(--accent-color)
}

:focus-visible {
    outline: 0.125rem solid var(--focus-color);
    outline-offset: -0.125rem;
}

body {
    font-family: "Figtree", sans-serif;
    color: var(--text-color);
    background-color: var(--background-color);
}

body.enable-transitions {
    --easing: cubic-bezier(0.65, 0, 0.35, 1);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.2;
}

i {
    font-weight: normal;
}

a {
    color: var(--accent-color);
}

a:hover {
    text-decoration: none;
}

button {
    height: 2.25rem;
    padding: 0 0.75em;
    border: none;
    border-radius: 0.5rem;
    color: var(--text-color);
    background-color: var(--control-color);
    transition: background-color 100ms var(--easing);
}

button:hover {
    background-color: var(--control-hover-color);
}

button.icon {
    width: 2.25em;
    height: 2.25em;
    padding: 0;
    border-radius: 50%;
}

button.icon>i {
    font-size: 1.125em;
}

button.pill {
    border-radius: 100vh;
}

input,
select {
    height: 2.25em;
    padding: 0 0.5em;
    border: 0.125rem solid var(--border-color);
    border-radius: 0.5rem;
    color: var(--text-color);
    background-color: var(--input-color);
}

textarea {
    padding: 0.25em 0.5em;
    border: 0.125rem solid var(--border-color);
    border-radius: 0.5rem;
    color: var(--text-color);
    background-color: var(--input-color);
    resize: none;
}

label:has(input, select, textarea) {
    display: flex;
    flex-direction: column;
    padding: 0.25em 0.5em;
    border: 0.125rem solid var(--border-color);
    border-radius: 0.5rem;
    color: var(--placeholder-text-color);
    background-color: var(--input-color);
    font-size: 0.875rem;
    line-height: 1;
    cursor: text;
}

label:has(:is(input, select, textarea):focus-visible) {
    outline: 0.125rem solid var(--focus-color);
    outline-offset: -0.125rem;
}

label>:is(input, select, textarea) {
    height: unset;
    padding: 0;
    border: none;
    border-radius: 0;
    font-size: 1rem;
    line-height: 1.5;
}

label>:is(input, select, textarea):focus-visible {
    outline: none;
}